@model MVCApp.Models.ApplicationForEvent

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Заявка на мероприятие</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpaceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpaceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherRequests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType.EventTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Изменить</a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
